{% extends "base.html" %}

{% block body %}
    <h3>An unexpected error has occurred</h3>
    <p>The administrator has been notified. Sorry for the inconvenience!</p>
    <p><a href="{% url 'accounts:login' %}}">Back</a></p>
{% endblock %}
